<robot name="taccap_g1_slave">
  <material name="taccap_base_mat">
    <color rgba="0.75294 0.75294 0.75294 1" />
  </material>
  <material name="taccap_left_mat">
    <color rgba="1 1 1 1" />
  </material>
  <material name="taccap_right_mat">
    <color rgba="0.60392 0.60392 0.60392 1" />
  </material>
  <material name="taccap_cover_mat">
    <color rgba="0.89804 0.91765 0.92941 1" />
  </material>
  <link name="taccap_g1_slave">
    <inertial>
      <origin rpy="0 0 0" xyz="0.002077 0.005327 0.009595" />
      <mass value="0.415" />
      <inertia ixx="0.000680" ixy="0" ixz="0" iyy="0.000748" iyz="0" izz="0.000573" />
    </inertial>
    <visual name="base_visual">
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="taccap_base_mat" />
    </visual>
    <collision name="base_collision">
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="grip_left">
    <inertial>
      <origin rpy="0 0 0" xyz="0.074921 -0.00669 -0.020693" />
      <mass value="0.36678" />
      <inertia ixx="3.3606e-05" ixy="-6.6715e-06" ixz="2.4362e-06" iyy="0.00015466" iyz="-2.9254e-07" izz="0.00015235" />
    </inertial>
    <visual name="left_finger_visual">
      <geometry>
        <mesh filename="../meshes/grip_left.STL" />
      </geometry>
      <material name="taccap_left_mat" />
    </visual>
    <collision name="left_finger_collision">
      <geometry>
        <mesh filename="../meshes/grip_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="grip_left_joint" type="revolute">
    <parent link="taccap_g1_slave" />
    <child link="grip_left" />
    <origin rpy="0 0 0" xyz="0.0144769712 0.0260269106 0.0077163282" />
    <axis xyz="0 0 1" />
    <limit effort="4" lower="0" upper="1" velocity="1" />
    <dynamics damping="0.08" friction="0.01" />
  </joint>
  <link name="grip_right">
    <inertial>
      <origin rpy="0 0 0" xyz="0.07491 0.0066814 -0.020629" />
      <mass value="0.36678" />
      <inertia ixx="3.3592e-05" ixy="6.6629e-06" ixz="2.4418e-06" iyy="0.0001547" iyz="2.9549e-07" izz="0.00015238" />
    </inertial>
    <visual name="right_finger_visual">
      <geometry>
        <mesh filename="../meshes/grip_right.STL" />
      </geometry>
      <material name="taccap_right_mat" />
    </visual>
    <collision name="right_finger_collision">
      <geometry>
        <mesh filename="../meshes/grip_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="grip_right_joint" type="revolute">
    <parent link="taccap_g1_slave" />
    <child link="grip_right" />
    <origin rpy="0 0 0" xyz="0.0144769712 -0.0138730894 0.0077163282" />
    <axis xyz="0 0 -1" />
    <limit effort="4" lower="0" upper="1" velocity="1" />
    <dynamics damping="0.08" friction="0.01" />
    <mimic joint="grip_left_joint" multiplier="1" offset="0" />
  </joint>
  <link name="visual_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.17821 -0.00049167 0.022257" />
      <mass value="0.068231" />
      <inertia ixx="4.1918e-05" ixy="-3.304e-07" ixz="7.6626e-06" iyy="3.8396e-05" iyz="-6.1656e-08" izz="6.5602e-05" />
    </inertial>
    <visual name="cover_visual">
      <geometry>
        <mesh filename="../meshes/viusal_link.STL" />
      </geometry>
      <material name="taccap_cover_mat" />
    </visual>
  </link>
  <joint name="base_to_cover" type="fixed">
    <parent link="taccap_g1_slave" />
    <child link="visual_link" />
    <origin rpy="0 0 0" xyz="0.1667969712 0.0060769106 -0.0140336718" />
  </joint>
  <link name="eef" />
  <joint name="base_to_eef" type="fixed">
    <parent link="taccap_g1_slave" />
    <child link="eef" />
    <origin rpy="0 1.5707963267948966 0" xyz="0.145 0.0060769106 -0.017" />
  </joint>
  <link name="geort_base" />
  <joint name="geort_base_to_native" type="fixed">
    <parent link="geort_base" />
    <child link="taccap_g1_slave" />
    <origin xyz="0 0 0" rpy="0 -1.5707963267948966 0" />
  </joint>
</robot>